
<header class="shift-details-header">
  <h2>
      <%= shift.get("name") %>
  </h2>
</header>

<div class="shift-info">
  <ul>
    <li>Slots: <%= shift.get("slots") %>/<%= shift.get("max_slots") %></li>
    <li>Start: <%= shift.get("start") %></li>
    <li>End: <%= shift.get("end") %></li>
  </ul>
</div>


<div class="shift-requests">
  <ul class="pending-employees">
  <h3>Employees Scheduled to Work</h3>
    <% _(shift.get("shift_requests").models).each(function(shift_request) { %>
      <% if (shift_request.get("status") === "approved") {%>
      <li>
        <%= shift_request.get("employee")["first_name"] %>
        <%= shift_request.get("employee")["last_name"] %>
      </li>
     <% }%>
    <% });%>
  </ul>


  <ul class="pending-employees">
  <h3>Employees Requesting to Work</h3>
    <% _(shift.get("shift_requests").models).each(function(shift_request) { %>
      <% if (shift_request.get("status") === "pending") {%>
      <li>
        <%= shift_request.get("employee")["first_name"] %>
        <%= shift_request.get("employee")["last_name"] %>
      </li>
     <% }%>
    <% });%>
  </ul>




  <ul class="pending-employees">
  </ul>
</div>


