
<header class="shift-details-header">
  <h2>
      <%= shift.get("title") %> 
  </h2>
  <button class="shift-delete-button">
      Delete
 </button>
</header>

<div class="shift-info">
  <ul>
    <li>Slots: <%= shift.get("slots") %>/<%= shift.get("max_slots") %></li>
    <li>Start: <%= shift.get("start") %></li>
    <li>End: <%= shift.get("end") %></li>
  </ul>
</div>


<div class="shift-requests">
  <ul class="pending-employees">
  <h3>Employees Scheduled to Work</h3>
    <% _(shift.get("shift_requests").models).each(function(shift_request) { %>
      <% if (shift_request.get("status") === "approved") {%>
      <li>
        <% if (ability.can("crud", ShiftScheduler.Models.Shift)) { %>
          <button class="remove-employee-button"
                  data-id="<%= shift_request.get('id') %>">
                  Remove
          </button>
        <%}%>
        <%= shift_request.get("employee")["first_name"] %>
        <%= shift_request.get("employee")["last_name"] %>
      </li>
     <% }%>
    <% });%>
  </ul>


  <ul class="pending-employees">
  <h3>Employees Requesting to Work</h3>
    <% _(shift.get("shift_requests").models).each(function(shift_request) { %>
      <% if (shift_request.get("status") === "pending") {%>
      <li>
        <% if (ability.can("crud", ShiftScheduler.Models.Shift)) { %>
          <button class="approve-employee-button"
                  data-id="<%= shift_request.get('id') %>">
                  Approve
          </button>
          <button class="deny-employee-button"
                  data-id="<%= shift_request.get('id') %>">
                  Deny
          </button>

        <%}%>
        <%= shift_request.get("employee")["first_name"] %>
        <%= shift_request.get("employee")["last_name"] %>
      </li>
     <% }%>
    <% });%>
  </ul>

</div>

<% if (shift.get("can_request")) {%>

  <button class="request-shift-button"
          data-id="<%= shift.get('id') %>">
          Request
  </button>
<%}%>

<% if (shift.get("can_cancel")) {%>

  <button class="cancel-shift-button"
          data-id="<%= shift.get('id') %>">
          Cancel
  </button>
<%}%>