<form action="<%= user_url(@user) %>" method="post">

  <input type="hidden" name="_method" value="put">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">



  <label>First Name
  <input type="text" name="user[first_name]" value="<%= @user.first_name %>">
  </label>
  <br>

  <label>Last Name
  <input type="text" name="user[last_name]" value="<%= @user.last_name %>" >
  </label>
  <br>


  <label>Email
  <input type="text" name="user[email]" value="<%= @user.email %>">
  </label>
  <br>



  <input type="submit" value="Edit">
</form>