<form action="<%= shifts_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">



  <label>Shift Name
  <input type="text" name="shift[name]" value="<%= @shift.name %>">
  </label>
  <br>

  <label>Start Date
  <input type="date" name="shift[start_date]" value="<%= @shift.start_date %>">
  </label>

  <label>Start Time
  <input type="time" name="shift[start_time]" value="<%= @shift.start_time %>">
  </label>
  <br>


  <label>End Date
  <input type="date" name="shift[end_date]" value="<%= @shift.end_date %>">
  </label>

  <label>End Time
  <input type="time" name="shift[end_time]" value="<%= @shift.end_time %>">
  </label>
  <br>

  <label>Number of Open Slots
  <input type="text" name="shift[slots]" value="<%= @shift.slots %>">
  </label>
  <br>




  <input type="submit" value="Add Shift">
