<%= javascript_include_tag "calendar/shift_request_calendar" %>

<% if current_user.admin? %>

  <h1>Pending Requests for you to approve</h1>
  <ul>
    <% @requests.each do |request| %>
      <li>
        <%= render partial: "shift_requests/approve_deny", object: request %>

        <%= request.shift.name %><%= request.employee.first_name %>
      </li>
    <% end %>
  </ul>

<% else  %>

  <h1>Your Pending Requests</h1>
  <ul>
    <% @requests.each do |request| %>
      <li>
        <% if request.status == "pending" %>
  		    <%=button_to "Cancel Request",
                        shift_request_url(request.id),
                        method: :delete %>
        <%end %>
        <%= request.shift.name %>
      </li>
    <% end %>
  </ul>

  <div id="calendar"></div>

<% end %>


