<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="error"><%= render partial: "layouts/error" %></div>
  <div class="notice"><%= render partial: "layouts/notice" %></div>

  <div class="dashboard">
    <% if !current_user.nil? %>
      <ul>
        <li><%= link_to current_user.email, edit_user_url(current_user) %> </li>
        <li><%= link_to "Home", users_url %></li>
        <li><%= button_to "Logout", session_url, :method => :delete %></li>
      </ul>
    <% end %>
  </div>

  <div class="main-content">
    <%= yield %>
  </div>

</body>
</html>